<template lang="pug">
div
  div.page-header
    div
      h1.page-title(v-if="!storeEventsLoaded || events.length != 0") {{ $route.params.category }}
      h1.page-title(v-else="events.length != 0") Category not found: {{ $route.params.category }}
      div(v-if="urlpath == '/events/workshop'")
        label.label Show Categories
        div
          b-checkbox(v-for="category in Object.keys(subcategories_map)" v-model="subcategories_map[category]")
            | {{ category.toUpperCase() }}
      a(href="https://cdn.glitch.com/a74bf147-2f6e-4bd0-9aee-c4aacf07857b%2FFINAL%20Schedule_Venue_DutyList-v5.pdf?v=1571404546055" v-if="urlpath == '/events/event'")
        span.page-subtitle Schedule &nbsp;
          b-icon(icon="link")
      LectureInterest(v-if="isLoggedIn && urlpath === '/events/lecture'")
      br
  b-tabs(v-if="urlpath == '/events/workshop'" v-model="activeTab")
    b-tab-item(v-if="exclusiveAccessAllowed" label="Currently Selling")
      EventsList(:events="currentEvents")
    //- b-tab-item(label="To Be Published")
    //-   EventsList(:events="toBePublishedEvents")
    b-tab-item(label="Sold Out")
      EventsList(:events="soldOutEvents")
    b-tab-item(label="Search")
      template(slot="header")
        div.search-header Search
          b-input(size="is-small" icon="magnify" v-model="filter")
      EventsList(:events="searchEvents")
  b-tabs(v-if="urlpath == '/events/event'" v-model="activeTab")
    b-tab-item(label="Search")
      template(slot="header")
        div.search-header Search
          b-input(size="is-small" icon="magnify" v-model="filter")
      EventsList(:events="searchEvents" :cardAction="cardAction")
  b-tabs(v-if="urlpath == '/events/lecture'" v-model="activeTab")
    b-tab-item(label="Search")
      template(slot="header")
        div.search-header Search
          b-input(size="is-small" icon="magnify" v-model="filter")
      EventsList(:events="searchEvents" :cardAction="cardAction")
</template>

<script>
import _ from 'lodash'
import LectureInterest from '~/components/LectureInterests'
import EventsList from '~/components/EventsList'
export default {
  components: {
    EventsList,
    LectureInterest
  },
  data() {
    return {
      activeTab: 0,
      filter: '',
      subcategories_map: {},
      events: [],
      urlpath: window.location.pathname
    }
  },
  validate({ store, params }) {
    if (!params.category) {
      return false
    }
    return true
  },
  computed: {
    exclusiveAccessAllowed() {
      if (this.filter === 'bimexclusive55') return true
      else return false
    },
    isLoggedIn() {
      return this.$store.state.isLoggedIn
    },
    storeEventsLoaded() {
      return this.$store.state.eventsLoaded
    },
    categoryFilteredEvents() {
      return this.events.filter((event) => {
        const c = this.getSubcategory(event)
        return this.subcategories_map[c]
      })
    },
    currentEvents() {
      return this.categoryFilteredEvents.filter((event) => {
        return (
          event.stock > 0 &&
          // new Date(event.meta.publishing_time) < new Date() &&
          event.published
        )
      })
    },
    toBePublishedEvents() {
      const events = this.categoryFilteredEvents.filter((event) => {
        return !event.published
      })
      events.sort(
        (e1, e2) =>
          new Date(e1.meta.publishing_time) > new Date(e2.meta.publishing_time)
      )
      return events
    },
    soldOutEvents() {
      return this.categoryFilteredEvents.filter((event) => {
        return event.stock <= 0
      })
    },
    searchEvents() {
      const fevents = this.events.filter((event) => {
        return (
          this.filter === '' ||
          event.name.toLowerCase().includes(this.filter.toLowerCase())
        )
      })
      fevents.sort((a, b) => {
        if (new Date(a.meta.publishing_time) < new Date(b.meta.publishing_time))
          return -1
        else return 1
      })
      return fevents
    }
  },
  watch: {
    storeEventsLoaded(oldval, newval) {
      this.loadEventsData()
    }
  },
  mounted() {
    if (this.storeEventsLoaded) this.loadEventsData()
  },
  methods: {
    loadEventsData() {
      /* Events */
      this.events =
        this.$store.state.eventsByCategory[this.$route.params.category] || []

      /* Subcategories */
      const subcategories = _.uniq(
        this.events.map((c) => {
          return this.getSubcategory(c)
        })
      )
      this.subcategories_map = _.fromPairs(subcategories.map((e) => [e, true]))
    },
    getSubcategory(event) {
      const csplit = event.category.split(':')
      if (csplit.length <= 1) return 'General'
      return csplit[1]
    },
    cardAction(event) {
      const topcategory = event.category.split(':')[0]
      if (topcategory === 'workshop') {
        if (event.stock <= 0 || !event.published || this.inRegistered(event))
          return null
        if (this.inCart(event)) {
          return {
            label: 'Remove',
            action: () => {
              this.$store.dispatch('removeFromCart', event)
            }
          }
        } else {
          return {
            action: () => {
              this.$store.dispatch('addToCart', event)
            },
            label: 'Add to Cart'
          }
        }
      } else if (topcategory === 'event') {
        if (this.$store.state.participantProfile) {
          return {
            action: async () => {
              console.log('ADD TO INTERESTS')
              try {
                await this.$store.dispatch('addToInterest', event)
                this.$buefy.toast.open({
                  message: 'Added to interests. See your dashboard',
                  type: 'is-success'
                })
                await this.$store.dispatch('loadProfile')
              } catch (e) {
                console.log(e)
                this.$buefy.toast.open({
                  message: 'Sorry, error occured',
                  type: 'is-danger'
                })
              }
            },
            label: 'Add to interests'
          }
        } else return null
      } else return null
    },
    inCart(event) {
      return (
        this.$store.state.cart.find(
          (e) => e !== null && e._id === event._id
        ) !== undefined
      )
    },
    inRegistered(event) {
      return (
        this.$store.state.participantProfile &&
        this.$store.state.participantProfile.events.includes(event._id)
      )
    }
  }
}
</script>

<style lang="sass" scoped>
.page-header
  display: flex
  flex-direction: row
.filter-box
  max-width: 20em;
  margin-bottom: 1em
.search-header
  display: flex
  margin: -1em
  padding: 0.9em
  &>*
    margin-left: 1em;
</style>
