<template lang="pug">
  div.content.cart-mini
    p.menu-label.is-size-6 Cart Summary
    div.cart-item(v-for="event in $store.state.cart" :key="event._id") 
      div.cart-item-name {{event.name}} 
      div.level.is-mobile
        div.level-left Rs. {{event.price}}
        div.level-right
            b-button.is-small(icon-right="delete" style="margin-top: 0.5em;" @click="removeFromCart(event)") Remove
    div.cart-item
      div.level.is-mobile
        div.level-left 
          strong Total:
        div.level-right Rs. {{eventTotalPrice}}
    b-button.checkout-btn(tag="nuxt-link" icon-right="cart" @click="checkout" to="/checkout") Checkout
</template>

<script>
export default {
  computed: {
    eventTotalPrice() {
      return this.$store.state.cart.reduce((sum, event) => sum + event.price, 0)
    }
  },
  methods: {
    removeFromCart(event) {
      this.$store.dispatch('removeFromCart', event)
    },
    checkout() {}
  }
}
</script>
