<template lang="pug">
  div
    div.cert-layout
      div.cert-overlay
        div.central
          h1 {{ eventName }}
          p {{ eventCategory.toUpperCase() }}
          a(:href="link")
            b-button.is-small Download
      
</template>

<script>
export default {
  props: {
    layout: {
      type: String,
      default: null
    },
    name: {
      type: String,
      default: null
    },
    college: {
      type: String,
      default: null
    },
    eventName: {
      type: String,
      default: null
    },
    type: {
      type: String,
      default: null
    },
    link: {
      type: String,
      default: null
    },
    eventCategory: {
      type: String,
      default: null
    }
  }
}
</script>

<style lang="sass" scoped>
div.cert-layout
  background-image: url("https://cdn.glitch.com/a74bf147-2f6e-4bd0-9aee-c4aacf07857b%2Frobert-anasch-y_ZPwFTCp84-unsplash.jpeg?v=1571993352354")
  background-size: cover
  background-position: center
  width: auto
  height: auto
  border-radius: 1em
  border-bottom: 1px solid gray
  border-right: 1px solid gray
  display: flex
  overflow: hidden
  justify-content: center
  color: white
  .cert-overlay
    padding: 1em
    height: 100%;
    width: 100%;
    background-color: #002f668a
  .central
    h1
      text-align: left
      margin-bottom: 0.5em
      font-size: 14px
    p
      font-size: 14px
    button
      margin-right: 0
      margin-left: auto
      display: block
    align-self: center
    max-width: 800px
    width: 100%
</style>
