<template lang="pug">
  div.event-cards
    div.event-card(v-for="event in events" :key="event._id")
      // Workshop card content
      div.event-card-content(v-if="event.category.split(':')[0]=='workshop'")
        div.event-card-left
          h1.event-title {{ event.name }}
          p.event-description {{ event.description }}
        div.event-card-right
          div.event-card-dates Duration
            div {{ event.meta.days.toUpperCase() }}
          div.event-card-dates(v-if="!event.published") Register here at
            div {{ (new Date(event.meta.publishing_time)).toLocaleString("en-IN") }}
          div.event-card-stock(v-if="event.published") Stock 
            span(v-if="event.stock <= 0") [SOLD OUT]
            div {{ Math.max(event.stock, 0) }}/{{ event.booking_limit }} 
          div.event-card-price(v-if="event.published") Price
            div ₹{{ event.price }}
          div.event-card-action(v-if="cardAction && cardAction(event)")
            b-button.is-small.is-uppercase(
              @click="() => {cardAction(event).action()}"
            ) {{ cardAction(event).label}}

      // Lecture card content
      div.event-card-content(v-if="event.category.split(':')[0]=='lecture'")
        div.event-card-left
          h1.event-title {{ event.name }}
          p.event-description {{ event.description }}
        div.event-card-right.lecture
          div.event-card-dates Speaker
            div {{ event.meta.speaker.toUpperCase() }}
          div.event-card-dates Time
            div {{ event.meta.days.toUpperCase() }}
          div.event-card-dates Venue
            div {{ event.meta.venue.toUpperCase() }}
          div Category
            div {{ event.category.split(':')[1].toUpperCase() }}
          div.event-card-action(v-if="cardAction && cardAction(event)")
            b-button.is-small.is-uppercase(v-if="cardAction"
              @click="cardAction(event).action()"
            ) {{ cardAction(event).label }}
      // Event Card content
      div.event-card-content(v-if="event.category.split(':')[0]=='event'")
        div.event-card-left
          h1.event-title {{ event.name }}
          p.event-description {{ event.description }}
        div.event-card-right
          div Realm
            div {{ event.category.split(':')[1].toUpperCase() }}
          div.event-card-action(v-if="cardAction && cardAction(event)")
            b-button.is-small.is-uppercase(
              @click="() => {cardAction(event).action()}"
            ) {{ cardAction(event).label }}
</template>

<script>
export default {
  props: {
    events: {
      type: Array,
      required: true
    },
    cardAction: {
      type: Function,
      required: false,
      description: '(event) => {label, action()}',
      default: null
    }
  },
  methods: {
    getDates(event) {
      if (!event.meta.days) return ''
      const daysArr = event.meta.days.split(' ')
      const datesArr = daysArr.map((d) => {
        if (d === 'friday') return '18 Friday'
        if (d === 'saturday') return '19 Saturday'
        if (d === 'sunday') return '20 Saturday'
        return d
      })
      return datesArr
    }
  }
}
</script>

<style lang="sass" scoped></style>
