<template lang="pug">
  div.profile-info.editor
    div.form-entry
      div.name Your name: {{ name }}
      b-input.name(name="name" v-model="name")
    div.form-entry
      div.college Your college: {{ college }}
      b-input.college(name="college" v-model="college")
    div.form-entry
      div Your gender: 
        span.gender {{ gender }}
        b-field
          b-radio-button(native-value="male" v-model="gender")
            span Male
          b-radio-button(native-value="female" v-model="gender")
            span Female
          b-radio-button(native-value="other" v-model="gender")
            span Other
    div.form-entry
      div.mobile Your mobile: {{ mobile }}
      b-input.mobile(name="mobile" v-model="mobile")
    div.form-entry
      button.is-primary(v-if="save_enabled" @click="saveChanges") Save Changes
</template>

<script>
export default {
  data() {
    return {
      name: null,
      college: null,
      gender: null,
      mobile: null,
      save_enabled: false
    }
  },
  async mounted() {
    try {
      await this.$store.dispatch('loadProfile')
      const {
        name,
        college,
        gender,
        mobile
      } = this.$store.state.participantProfile
      this.name = name
      this.college = college
      this.gender = gender
      this.mobile = mobile
      this.save_enabled = true
    } catch (e) {
      this.save_enabled = false
      this.$buefy.toast.open({
        message: 'Some error occured, your data could not be fetched'
      })
      throw e
    }
  },
  methods: {
    async saveChanges() {
      try {
        const stat = await this.$store.dispatch('saveProfileEdits', {
          name: this.name,
          college: this.college,
          gender: this.gender,
          mobile: this.mobile
        })
        if (stat) {
          this.editing_profile = false
          this.$buefy.toast.open({
            message: 'Changes saved',
            type: 'is-success'
          })
        }
        this.$store.dispatch('loadProfile')
      } catch (e) {
        this.$buefy.toast.open({
          message: 'Sorry, some error occured',
          type: 'is-danger'
        })
        throw e
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.profile
  position: relative
  height: auto
  display: flex
  flex-direction: row
  @media(max-width: 512px)
    flex-direction: column
.profile-info
  border: 1px solid gray
  position: relative
  height: auto
  display: flex
  flex-direction: column
  padding: 1em
  margin: 0
  div.form-entry
    margin-top: 1em
  div
    font-size: 16px
  button
    align-self: flex-start
    padding: 0.5em
    border: none
  span.gender
    text-transform: capitalize
  .gender-inputs
    margin-top: 0
    padding-left: 1em
    display: flex
    flex-direction: column;
</style>
