<template lang="pug">
  div.profile
      div.qrcode
        qrcode(:value="qrData" class="qrcode" :options="{width: qrWidth}" zid="smallqr" style="display: block")
      div.profile-info
        div.tathva-id T19-{{ profile('short_id') }}
        div.normal-text.name {{ profile('name') }}
        div.normal-text.gender {{ profile('gender') || 'Gender?'}}
        div.normal-text.college {{ profile('college') }}
        div.normal-text.email {{ profile('email') }}
        div.normal-text.mobile {{ profile('mobile') }}
        b-button.is-success(v-if="profile('tathva_pass')") Allowed to enter Events
        b-button.is-info(v-if="profile('events').length > 0") {{ profile('events').length }} {{ profile('events').length === 1 ? 'booking' : 'bookings' }} found
      div.offline_qr(v-if="offline_qr")
        qrcode(:value="offline_qr" class="qrcode")

</template>

<script>
import qrcode from '@chenfengyuan/vue-qrcode'
export default {
  components: {
    qrcode
  },
  data: () => ({ qrWidth: 200 }),
  computed: {
    offline_qr() {
      return this.$store.state.offline_qr
    },
    qrData() {
      if (this.$store.state.participantProfile)
        return this.$store.state.participantProfile.qrData
      else return 'Lorem Ipsum'
    }
  },
  async mounted() {
    window.setTimeout(() => resizeQrCode(this), 0)
    window.addEventListener('resize', () => resizeQrCode(this))
    try {
      await this.$store.dispatch('loadProfile')
    } catch (e) {
      this.$buefy.toast.open({
        message: 'Some error occured, profile not loaded',
        type: 'is-danger'
      })
      throw e
    }
    try {
      await this.$store.dispatch('fetchOfflineQR')
    } catch (e) {
      if (e.message === 'NOPASS') return
      this.$buefy.toast.open({
        message: 'Offline QR not loaded',
        type: 'is-warning'
      })
      throw e
    }
  },
  methods: {
    profile(prop) {
      const profile = this.$store.state.participantProfile
      if (profile) {
        if (prop) return profile[prop]
        else return profile
      } else return 'Loading'
    }
  }
}
const resizeQrCode = (context) => {
  const qrcodeDiv = document.querySelector('#smallqr')
  if (!qrcodeDiv) return
  if (screen.availWidth <= 512) {
    context.qrWidth = 250
  } else if (screen.availWidth < 720) {
    context.qrWidth = 200
  } else if (screen.availWidth < 800) {
    context.qrWidth = 200
  } else {
    context.qrWidth = 250
  }
}
</script>

<style lang="sass" scoped>
.profile
  display: flex
  flex-direction: row
  max-width: 100%
  @media(max-width: 512px)
    flex-direction: column
  .offline_qr
    margin: auto
.profile-info
  margin: 1em
  margin-top: 2em;
  @media(max-width: 512px)
    margin: 0.5em
  .gender
    text-transform: capitalize
#tathva-id
  font-size: 1em
  font-weight: normal
  text-transform: uppercase
  margin-top: 2em
</style>
