<template lang="pug">
  form(@submit.prevent="submit")
    h1.page-title Register
    p.is-danger Please do not forget the user id and password that you use to register. You need it on Tathva.
    b-field(label="Username" )
      b-input(v-model="reg_data.userid" name="userid" required minlength="4" maxlength="30")
    b-field.columns
      b-field.column(label="Password" )
        b-input(type="password" v-model="reg_data.password" name="password" required minlength="4")
      b-field.column(label="Confirm Password" :message="errors.confirm_password" :type="{'is-danger': errors.confirm_password}")
        b-input(type="password" v-model="reg_data.confirm_password" name="confirm_password" required)
    b-field(label="Name" )
      b-input(v-model="reg_data.name" required)
    div GENDER
      b-field
        b-radio-button(native-value="male" v-model="reg_data.gender")
          span Male
        b-radio-button(native-value="female" v-model="reg_data.gender")
          span Female
        b-radio-button(native-value="other" v-model="reg_data.gender")
          span Other
    br
    b-field(label="College" )
      b-input(v-model="reg_data.college" required)
    b-field(label="Phone" )
      b-input(v-model="reg_data.mobile" required type="phone" minlength="10" maxlength="10")
    p.is-danger An activation link will be send. Type email correctly.
    b-field(label="Email" )
      b-input(v-model="reg_data.email" required type="email")
    b-field(label="Referral Code (Optional) " )
      b-input(v-model="reg_data.referral_code")
    b-button(native-type="submit" type="is-primary" :loading="wait_loading" :disabled="wait_loading") Register
</template>

<script>
import { backend } from '~/library/main'

export default {
  data() {
    return {
      reg_data: {
        userid: '',
        password: '',
        confirm_password: '',
        name: '',
        college: '',
        mobile: '',
        email: '',
        gender: null,
        referral_code: ''
      },
      wait_loading: false
    }
  },
  computed: {
    errors() {
      return {
        confirm_password:
          this.reg_data.password !== this.reg_data.confirm_password
            ? "Passwords don't match"
            : ''
      }
    }
  },
  methods: {
    async submit() {
      this.wait_loading = true
      try {
        const res = await backend.register(this.reg_data)
        this.wait_loading = false
        if (res.status === 'OK') {
          this.$emit('registered')
          this.$buefy.toast.open({
            message:
              'An activation link is send to email. Activate your account and then login here',
            type: 'is-success',
            duration: 5000
          })
        }

        if (res.status === 'ERR') {
          if (res.code === 'E_USER_EXISTS') {
            this.$buefy.toast.open({
              message:
                'User ID is taken. Please try again with a different one',
              type: 'is-danger'
            })
          } else if (res.code === 'E_BAD_REQUEST') {
            // const body = JSON.parse(res.body)
            // const field = body.message.key
            // this.$buefy.toast.open({
            //   message: field,
            //   type: 'is-danger'
            // })
          }
        }
      } catch (e) {
        this.wait_loading = false
        this.$buefy.toast.open({
          message: 'Sorry, some error occured',
          type: 'is-danger'
        })
        throw e
      }
    }
  }
}
</script>

<style></style>
