<template lang="pug">
  div
    p.page-subtitle Forgot Password
    p.normal-text Please type your username. An email with instructions to change password will be send to the email address that you provided when you first made the account.
    br
    form(@submit.prevent="submit")
      b-field(label="User id")
        b-input(v-model="userid")
      b-button.is-primary(@click="submit" native-value="submit" v-if="!wait_submitting && !email_send") Send reset link
      b-button.is-primary(native-value="submit" disabled loading v-if="wait_submitting && !email_send") Send reset link
    br
    p.normal-text(v-if="email_send") If you do not recieve the mail, please wait for 5 minutes and also check your SPAM Folder. If you do not remember verifying your email when you first made an account, there is a chance that the email id you gave is invalid.
</template>

<script>
export default {
  data() {
    return {
      userid: null,
      wait_submitting: false,
      email_send: false
    }
  },
  methods: {
    async submit() {
      this.wait_submitting = true
      try {
        await this.$store.dispatch('sendPasswordResetMail', this.userid)
        this.$buefy.toast.open({
          message: 'A password reset link has been send to registered email',
          type: 'is-success'
        })
        this.wait_submitting = false
        this.email_send = true
      } catch (e) {
        this.wait_submitting = false
        if (e.response && e.response.status === 404) {
          this.$buefy.toast.open({
            message: 'No such user found',
            type: 'is-danger'
          })
          return
        }
        this.$buefy.toast.open({
          message: 'Error occured',
          type: 'is-danger'
        })
        throw e
      }
    }
  }
}
</script>
