<template lang="pug">
  div
    p.page-subtitle Enter a new password
    form(@submit.prevent="submit")
      b-field.column(label="Password" )
        b-input(type="password" v-model="new_password" name="password" required minlength="4")
      b-field.column(label="Confirm Password" :message="errors.confirm_password" :type="{'is-danger': errors.confirm_password}")
        b-input(type="password" v-model="confirm_password" name="confirm_password" required)
      b-button.is-primary(native-type="submit" v-if="!waiting") Set new password
      b-button.is-primary(native-type="submit" v-if="waiting" loading disabled) Set new password
</template>

<script>
export default {
  data() {
    return {
      waiting: false,
      new_password: null,
      confirm_password: null
    }
  },
  computed: {
    errors() {
      return {
        confirm_password:
          this.new_password !== this.confirm_password
            ? "Passwords don't match"
            : ''
      }
    }
  },
  methods: {
    async submit() {
      this.waiting = true
      console.log(this.$route)
      const a = this.$route.query.code.slice(0, 24)
      const b = this.$route.query.code.slice(24, 31)
      try {
        await this.$store.dispatch('resetPassword', {
          code: b,
          id: a,
          password: this.new_password
        })
        this.$buefy.toast.open({
          message: 'Password changed',
          type: 'is-success'
        })
        this.$router.replace('/register')
      } catch (e) {
        this.waiting = false
        this.$buefy.toast.open({
          message: 'Error occured',
          type: 'is-danger'
        })
        throw e
      }
    }
  }
}
</script>
