<template>
  <section class="main-content columns">
    <aside class="nav-container column">
      <div class="tathva-logo"></div>
      <ul class="menu-list">
        <li
          v-for="(item, key) of pages"
          :key="key"
          :class="item.mobile_only ? 'mobile-only' : ''"
        >
          <nuxt-link :to="item.to" exact-active-class="is-active">
            {{ nameify(item.title) }}
          </nuxt-link>
        </li>
      </ul>
      <br />
      <div v-if="displayCart">
        <CartMini />
      </div>
    </aside>

    <div class="container page-container column is-9 ">
      <nuxt />
      <b-loading
        :is-full-page="true"
        :active.sync="isLoading"
        :can-cancel="false"
      ></b-loading>
    </div>
    <!-- POSTPONED OVERLAY -->
    <!-- <div
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100vh; background: #333; color: #fff !important;"
    >
      <div class="section columns is-centered" style="padding: 1em">
        <div class="column is-5">
          <h1 class="title" style="color: #fff; margin-top: 5em;">
            Maintanance
          </h1>
          <div>
            Will be over by midnight
          </div>
        </div>
      </div>
    </div> -->
  </section>
</template>

<style lang="sass" scoped>
.cart-mini
  margin-left: 0.3em;
</style>

<script>
import CartMini from '~/components/CartMini'

function initializeErrorHandlers() {
  const onErrorHandler = function(msg, url, line, col, error) {
    console.log('Global Error handler - ', msg, url, line, col, error)
  }
  const unHandledRejectionHandler = function(event) {
    console.log('Global unhandled rejection handler - ', event)
  }
  window.onerror = onErrorHandler
  window.addEventListener('unhandledrejection', unHandledRejectionHandler)
}

export default {
  components: {
    CartMini
  },
  data() {
    return {
      displayCart: false
    }
  },
  computed: {
    /* eslint camelcase: 0 */
    isLoading() {
      return (
        this.$store.state.isLoggedIn &&
        this.$store.state.participantProfile === null
      )
    },
    pages() {
      const pages = [
        {
          title: 'Register/Login',
          icon: 'account',
          to: { name: 'register' },
          state: 'LOGGED_OUT'
        },
        {
          title: 'Certificates',
          icon: 'account',
          to: { name: 'certificates' },
          state: 'LOGGED_IN'
        },
        {
          title: 'Dashboard',
          icon: 'account',
          to: { name: 'dashboard' },
          state: 'LOGGED_IN'
        },
        {
          title: 'Instructions',
          icon: 'account',
          to: { name: 'instructions' },
          state: 'COMMON'
        }
      ]
      pages.push({
        title: 'Edit Profile',
        icon: 'edit',
        to: { name: 'editprofile' },
        state: 'LOGGED_IN'
      })
      pages.push({
        title: 'All events',
        icon: 'cart',
        to: { name: 'all-events' },
        state: 'COMMON'
      })
      for (const category in this.$store.state.eventsByCategory) {
        pages.push({
          title: category,
          icon: 'arrow-right-bold-circle',
          to: { path: '/events/' + category },
          state: 'COMMON'
        })
      }
      // pages.push({
      //   title: 'Checkout',
      //   icon: 'cart',
      //   to: { name: 'checkout' },
      //   state: 'COMMON'
      // })
      pages.push({
        title: 'Log Out',
        icon: 'logout',
        to: { name: 'logout' },
        state: 'LOGGED_IN'
      })
      return pages.filter(
        (p) =>
          p.state === 'COMMON' ||
          ((p.state === 'LOGGED_IN' && this.$store.state.isLoggedIn) ||
            (p.state === 'LOGGED_OUT' && !this.$store.state.isLoggedIn))
      )
    }
  },
  mounted() {
    window.alert('Log in to your account to get your certificates as pdf')
    initializeErrorHandlers()
    try {
      this.$store.dispatch('loadProfile')
    } catch (e) {
      this.$buefy.toast.open({
        message: 'Some error occured',
        type: 'is-danger'
      })
      throw e
    }
  },
  methods: {
    nameify(name) {
      return name.charAt(0).toUpperCase() + name.slice(1)
    }
  }
}
</script>

<style lang="sass" scoped>
.menu-list
  overflow-x: auto;
</style>
