<template lang="pug">
  div(v-if="eventsLoaded")
    br
    a.page-subtitle(@click="refLectures") 
      b-icon(icon="link")
      | &nbsp;Lectures
    br 
    br
    a.page-subtitle(@click="refEvents") 
      b-icon(icon="link")
      | &nbsp;Events
    br 
    br
    a.page-subtitle(@click="refWorkshop") 
      b-icon(icon="link")
      | &nbsp;Workshops
    br
    br
  div.normal-text(v-else) Loading...
</template>

<script>
export default {
  computed: {
    eventsLoaded() {
      return this.$store.state.eventsLoaded
    }
  },
  async mounted() {
    try {
      await this.$store.dispatch('loadData')
    } catch (e) {
      this.$buefy.toast.open({
        message: 'Some error occured',
        type: 'is-danger'
      })
      throw e
    }
  },
  methods: {
    refWorkshop() {
      this.$router.push('/events/workshop')
    },
    refEvents() {
      this.$router.push('/events/event')
    },
    refLectures() {
      this.$router.push('/events/lecture')
    }
  }
}
</script>
