<template lang="pug">
  div
    p.page-title Your Certificates
    p.normal-text(v-if="certificates.length === 0") There are no certificates here. Did you register lecture / workshop and wonder where your certificates are? Maybe you have a duplicate account by which you registered lecture / workshop and your certificates are issued to that account.
    div.single(v-for="cert in certificates")
      Certificate(:name="participant.name" :college="participant.college" :eventName="cert.event.name" :link="CERT_ROOT + cert._id" :eventCategory="cert.event.category.split(':')[0]")
</template>

<script>
import Certificate from '~/components/Certificate'
export default {
  components: {
    Certificate
  },
  data() {
    return {
      CERT_ROOT: 'https://certificates.tathva.org/'
    }
  },
  computed: {
    participant() {
      return this.$store.state.participantProfile
    },
    certificates() {
      return this.$store.state.certificates
    }
  },
  mounted() {
    try {
      this.$store.dispatch('loadCertificates')
    } catch (e) {
      this.$buefy.toast.open({
        message: 'Some error occured, certificates could not be loaded',
        type: 'is-error'
      })
    }
  }
}
</script>

<style lang="sass" scoped>
p.page-title
  text-align: center
div.single
  margin: 1em 0
</style>
