<template lang="pug">
  section.columns
    div.column.is-10
      div
        h1.page-title  Checkout 
      EventsList(:events="cartEvents" :cardAction="cardAction")
      div
        h1.checkout-total-price Total: Rs. {{ eventTotalPrice }}
      div.is-pulled-right
        p.is-danger Please do not proceed to pay and then cancel the payment. Only proceed when you are ready to pay. Debit Card, Credit Card, Internet Banking and UPI are available as payment options. "Pay later" is a service like paytm, it does not mean you can pay the amount later.
      div.is-pulled-right
        b-button#proceed-to-pay-btn.is-primary(@click="proceedToPay" :loading="wait_checkout" :disabled='wait_checkout') Proceed to pay
</template>

<script>
import EventsList from '~/components/EventsList'
export default {
  components: {
    EventsList
  },
  data: () => ({
    wait_checkout: false
  }),
  computed: {
    cartEvents() {
      return this.$store.state.cart
    },
    eventTotalPrice() {
      return this.$store.state.cart.reduce((sum, event) => sum + event.price, 0)
    }
  },
  mounted() {
    const btn = document.getElementById('proceed-to-pay-btn')
    btn.scrollIntoView()
  },
  methods: {
    cardAction(event) {
      return {
        label: 'Remove',
        action: () => {
          this.$store.dispatch('removeFromCart', event)
        }
      }
    },
    async proceedToPay() {
      if (!this.$store.state.isLoggedIn) {
        this.$buefy.toast.open({
          message: 'Please login or register to continue with payment',
          type: 'is-success'
        })
        this.$router.push('/register')
        return
      }
      this.wait_checkout = true
      const resp = await this.$store.dispatch('checkoutCart')
      this.wait_checkout = false
      if (resp.status === 'OK') {
        window.location.href = resp.redirect_url
      } else if (resp.code === 'E_NO_STOCK') {
        this.$buefy.toast.open({
          message:
            'Oopsie. Some events in your cart just got sold out :( Please check and try again.',
          type: 'is-danger'
        })
      } else if (resp.code === 'E_TEMP_MAINT') {
        this.$buefy.toast.open({
          message: 'Payments are temporarily paused for maintenance',
          type: 'is-danger'
        })
      } else {
        this.$buefy.toast.open({
          message:
            'Seems like payment gateway is crowded, please try after 15 minutes',
          type: 'is-danger'
        })
      }
    }
  }
}
</script>
