<template lang="pug">
  section
    Profile
    Declaration
    div
      h1.page-subtitle  Booked items
      EventsList(:events="bookedItems")
    h1.page-subtitle Interested Events
    EventsList(:events="interestedEvents" :cardAction="interestsCardAction")
</template>

<script>
import EventsList from '~/components/EventsList'
import Profile from '~/components/Profile'
import LectureInterests from '~/components/LectureInterests'
import Declaration from '~/components/Declaration'
export default {
  components: {
    Profile,
    EventsList,
    LectureInterests,
    Declaration
  },
  data() {
    return {
      removeFromInterests: {
        action: async (event) => {
          try {
            await this.$store.dispatch('removeFromInterests', event._id)
          } catch (e) {
            this.$buefy.toast.open({
              message: 'Removed',
              type: 'is-danger'
            })
            throw e
          }
        },
        label: 'Remove from interests'
      }
    }
  },
  meta: {
    routeOnlyWhen: 'LOGGED_IN'
  },
  computed: {
    bookedItems() {
      return this.$store.state.booked_items
    },
    interestedEvents() {
      console.log('Interested events', this.$store.state.interested_items)
      return this.$store.state.interested_items
    },
    isLoggedIn() {
      return this.$store.state.isLoggedIn
    }
  },
  watch: {
    isLoggedIn(newval, oldval) {
      this.$router.replace('/')
    }
  },
  async mounted() {
    try {
      await this.$store.dispatch('loadBookedItems')
      await this.$store.dispatch('loadInterestedItems')
    } catch (e) {
      this.$buefy.toast.open({
        message: 'Error loading some data',
        type: 'is-warning'
      })
      throw e
    }
  },
  methods: {
    interestsCardAction(event) {
      return {
        action: async () => {
          try {
            await this.$store.dispatch('removeFromInterested', event._id)
            this.$buefy.toast.open({
              message: 'Removed from interests',
              type: 'is-success'
            })
          } catch (e) {
            console.log(e)
            this.$buefy.toast.open({
              message: 'Error occured',
              type: 'is-danger'
            })
            throw e
          }
        },
        label: 'Remove from interests'
      }
    },
    profile(prop) {
      const profile = this.$store.state.participantProfile
      if (profile) {
        if (prop) return profile[prop]
        else return profile
      } else return 'Loading'
    }
  }
}
</script>
