<template lang="pug">
  div(v-if="!declaration_signed")
    h1.page-title Edit Profile
    p.is-danger This info will be printed on the certificates if it is issued. We wont allow you to correct mistakes in this after you sign the declaration given in dashboard.
    ProfileEditor
  div.normal-text(v-else) You have signed the declaration. You cannot edit your profile anymore.
</template>

<script>
import ProfileEditor from '~/components/ProfileEditor'
export default {
  components: {
    ProfileEditor
  },
  computed: {
    declaration_signed() {
      if (!this.$store.state.participantProfile) return false
      else return this.$store.state.participantProfile.declaration_signed
    }
  }
}
</script>

<style lang="sass" scoped></style>
