<template>
  <div></div>
</template>

<script>
export default {
  mounted() {
    if (this.$store.state.isLoggedIn) {
      this.$router.replace('/certificates')
    } else {
      this.$router.replace('/register')
    }
  }
}
</script>

<style></style>
