<template>
  <section class="columns">
    <div>
      <p class="normal-text top-margin">
        Certificates are now available as pdf. Log in to your account to
        download your online certificates
      </p>
      <LoginForm class="column is-10" @login="loginSuccess" />
    </div>
  </section>
</template>

<script>
import LoginForm from '~/components/LoginForm'

export default {
  name: 'HomePage',
  components: {
    LoginForm
  },
  meta: {
    routeOnlyWhen: 'LOGGED_OUT'
  },
  methods: {
    loginSuccess() {
      this.$router.replace('/certificates')
    }
  }
}
</script>

<style lang="sass" scoped>
.top-margin
  margin-top: 2em
  padding-left: 1em
  @media screen and (max-width: 784px)
    margin-top: 0
</style>
